/* MadCap Table Style: */

/*<meta sourceDocument="C:\Users\dspencer\Desktop\ExcelFiles\Personal expenses calculator1.xlsx" Version="9" />*/

mcTableStyle
{
	name: tblCategory7;
	background-color: #FFFFFF;
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
	max-id: 1;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #759AA5;
}

mcTableColumnStyle
{
	name: Column1;
	id: 1;
}

mcTableHeadStyle
{
	name: Header1;
	id: 1;
	background-color: #FFFFFF;
	span: 1;
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: bold;
}

mcTableBodyStyle
{
	name: Body1;
	id: 1;
	background-color: #F9FAF5;
	span: 1;
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
}

mcTableBodyStyle
{
	name: Body2;
	id: 2;
	background-color: #F2F2F2;
	span: 1;
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-style: normal;
	font-weight: normal;
}

mcTableFootStyle
{
	name: Footer1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-tblCategory7
{
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-color: #759AA5;
	border-bottom-width: 4px;
	border-spacing: 0px 0px;
}

.TableStyle-tblCategory7-Column-Column1
{
	
}

.TableStyle-tblCategory7-Head-Header1
{
	
}

.TableStyle-tblCategory7-HeadI-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadI-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadE-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadE-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadF-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadF-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadH-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadH-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadD-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadD-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadC-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadC-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadB-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadB-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadA-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadA-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-HeadG-Column1-Header1
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
	background-color: #FFFFFF;
}

.TableStyle-tblCategory7-HeadG-Column1-Header1 p
{
	color: #FEFEFC;
	font-family: Calibri;
	font-size: 11;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-tblCategory7-Foot-Footer1
{
	
}

.TableStyle-tblCategory7-FootI-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootI-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootE-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootE-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootF-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootF-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootH-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootH-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootD-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootD-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootC-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootC-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootB-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootB-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootA-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootA-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-FootG-Column1-Footer1
{
	
}

.TableStyle-tblCategory7-FootG-Column1-Footer1 p
{
	
}

.TableStyle-tblCategory7-Body-Body1
{
	
}

.TableStyle-tblCategory7-BodyI-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyI-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyE-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyE-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyF-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyF-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyH-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyH-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyD-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyD-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyC-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyC-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyB-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyB-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyA-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyA-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyG-Column1-Body1
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F9FAF5;
}

.TableStyle-tblCategory7-BodyG-Column1-Body1 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-Body-Body2
{
	
}

.TableStyle-tblCategory7-BodyI-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyI-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyE-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyE-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyF-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyF-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyH-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyH-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyD-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyD-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyC-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyC-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyB-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyB-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyA-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyA-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-tblCategory7-BodyG-Column1-Body2
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
	background-color: #F2F2F2;
}

.TableStyle-tblCategory7-BodyG-Column1-Body2 p
{
	color: #1D3641;
	font-family: Calibri;
	font-size: 11;
	font-weight: normal;
	font-style: normal;
}


